*{
    box-sizing: border-box;

  }
body{
    background-color: #FBeAEB;
    margin: 0px;
    padding: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    overflow-x: hidden;
}

nav {
    width : 100%;
    height: 60px;
    background-color: #FBeAEB;


}
nav p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:rgb(0, 0, 0);
    font-size: 24px;
    line-height: 55px;
    float: left;
    padding: 0px 20px;
}
nav ul{
    float: left;
}
nav ul li {
    float: left;
    list-style: none;
}
nav ul li a{
    display: flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    font-size: 14px;
    padding: 22px 14px;
    text-decoration: none;

     
}
nav ul li ul{
    display: none;
    position: absolute;
    background-color: #fff;
    padding: 10px;
    border-radius: 0px 0px 4px 4px;
}
nav ul li ul{
    display: block;
    
}
nav ul li ul li a {
    padding: 8px 14px;

}
nav ul li ul li {
    width: 180px;
    border-radius: 4px;

}
nav ul li ul li a:hover{
    background-color: #f3f3f3;
}

/* .top1{
    background-color: blue;
    margin: 0px;
    display: flex;
}
.top1 ul{
    list-style: none;
    display: flex;
}
.top1nav li{
    
    padding: 10px;
    color: white;
    font: 0.9em sans-serif;
} */


.footer{
    background-color: #2F3C7E;
}
footer section{
    color: white;
    display: flex;
    padding-left: 3vw;
    padding-top: 1vw;
}
.footer div{
    float: left;
    padding-left: 5vw;
    width: 30%;
    font-weight: 200;
}
.footer div li a{
    color: white;
    text-decoration: none;
    font-weight: 200;
}
.footer div li a:hover{
    color: rgb(180, 164, 238);
    text-decoration: none;
    font-weight: 200;
}
.footer div li {
    list-style: square;
    padding-bottom: 5px;
    font-weight: 300;
}
.carousel-item{
    height: 80vh;
    vertical-align: middle;
    transition: 3s;
}
.carousel-control-prev-icon, .carousel-control-next-icon{
    background-color: rgb(0, 0, 0);


}
.ftrlogo{
    width: 150px;
    padding-bottom: 10px;
}
.carousel div div img{
    opacity: 40%;
}
.carousel-caption p{
    font-size: 200%;
}
.homesec1{
    background-color: rgb(14, 14, 70);
}

.postgallery{
    width: 32%;
    display: inline-block;
    align-items: center;
    padding: 2%;
}
/* 
dropdown css
 */
.dropitem{
    display: none;
    position: absolute;
    background-color: #2F3C7E;
    z-index: 9;
}
.headdrop1:hover .dropitem{
    display: block;

    
}