*{
    box-sizing: border-box;
  }
body{
    padding: 0px;
    margin: 0px;
    overflow: scroll;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.top1{
    background-color: blue;
    margin: 0px;
    padding: 0px;
    display: flex;
}
.top1 ul{
    list-style: none;
    display: flex;
}
.top1nav li{
    
    padding: 2vh 1vw 1vw 1vw;
    color: white;
    font: 0.9em sans-serif;
}
footer div{
    display: inline;
    float: left;
    width: 30%;
    padding-left: 3vw;
    padding-top: 1vw;
}
footer .footer{
    background-color: #2F3C7E;
}