* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
body {
  background-color: #fbeaeb;
  margin: 0px;
  padding: 0px;
  left: auto;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  overflow-x: hidden;
}

header p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgb(255, 255, 255);
  font-size: 24px;
}

header {
  margin: 0px;
}
header ul {
  list-style: none;
  display: flex;
  color: white;
  margin: 1vh;
}

header a {
  text-decoration: none;
  color: white;
}
header ul li {
  padding-right: 2vw;
}

.top1 {
  background-color: blue;
  padding: 1vh 1vw;
}

.top2 {
  background-color: #100051;
  padding: 1vh 1vw;
  display: flex;
  margin: auto;
  align-items: center;
}
.top2 ul li {
  padding: 1vh 2vw;
  border-radius: 1vh;
}

.top2 ul li a:hover,
.top2 ul li:hover {
  text-decoration: none;
  color: white;
}

.dropitem {
  display: none;
  color: #100051;
  background-color: aliceblue;
  position: absolute;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  width: 10vw;
  z-index: 1;
  padding: 0%;
  margin-top: 1vh;
  margin-left: -1vw;
  border-top: 5px solid red;
  border-radius: 1vh;
}
.headdrop {
  position: relative;
  display: inline-block;
}

.dropitem a {
  color: #100051;
  padding: 3vh 1.5vh;
  display: block;
}

.dropitem a:hover {
  background-color: #2f3c7e;
}
.headdrop:hover .dropitem {
  display: block;
  text-decoration: none;
  color: #100051;
}

header p {
  text-transform: capitalize;
  padding-right: 2vw;
  margin-bottom: 0%;
}
/* header end */
.container h2 {
  color: rgb(0, 0, 0);
  font-size: medium;
  font-weight: bold;
  font-style: italic;
}
.container h1 {
  color: red;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-style: italic;
  font-weight: bold;
}
.info img {
  width: 30vw;
  padding: 1vw;
}
.info {
  display: flex;
  border: 3px solid rgb(188, 177, 228);
  border-width: 2px;
  margin: 1vw;
}
.container {
  width: 50vw;
  float: left;
  padding: 1vw;
}

.footer {
  background-color: #2f3c7e;
}
footer section {
  color: white;
  display: flex;
  padding-left: 3vw;
  padding-top: 1vw;
}
.footer div {
  float: left;
  padding-left: 5vw;
  width: 30%;
  font-weight: 200;
}
.footer div li a {
  color: white;
  text-decoration: none;
  font-weight: 200;
}
.footer div li a:hover {
  color: rgb(180, 164, 238);
  text-decoration: none;
  font-weight: 200;
}
.footer div li {
  list-style: square;
  padding-bottom: 5px;
  font-weight: 300;
}
.carousel-item {
  height: 80vh;
  vertical-align: middle;
  transition: 3s;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgb(0, 0, 0);
}
.ftrlogo {
  width: 150px;
  padding-bottom: 10px;
}
.carousel div div img {
  opacity: 40%;
}
.carousel-caption p {
  font-size: 200%;
}
.homesec1 {
  background-color: rgb(14, 14, 70);
}

.postgallery {
  width: 32%;
  display: inline-block;
  padding: 2%;
}

.postgallery {
  width: 30vw;
  background-color: #fbeaeb;
  margin: 1vw;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.homesec3 {
  margin-bottom: 1vh;
}
/* cse page styling  */
.depcontainer h2 {
  color: rgb(0, 0, 0);
  font-size: medium;
  font-weight: bold;
  font-style: italic;
}

.depinfo img {
  width: 30vw;
  left: 0;
  margin: auto;
}
.depinfo {
  border: 3px solid rgb(188, 177, 228);
  border-width: 2px;
  display: flex;
  width: 95vw;
  margin: 1vw;
}
.depcontainer {
  width: 50vw;
  padding: 1vw;
  margin: auto;
}
/* 
cse deparment professors 
 */
.deppostgallery {
  width: 22vw;
  background-color: #fbeaeb;
  margin: 1vw;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 1vw;
  display: inline-block;
}

.dephomesec3 {
  margin-bottom: 1vh;
}
/* 
courses styling 
 */
.coursesinfo img {
  width: 50%;
}
.coursescontainer h2 {
  color: rgb(0, 0, 0);
  font-size: medium;
  font-weight: bold;
  font-style: italic;
  margin: 3vw;
}
.coursescontainer p {
  margin-left: 3vw;
}
.coursescontainer hr {
  height: 1px;
  background-color: rgb(63, 61, 216);
  border: none;
  margin-left: 3vw;
  width: 100%;
  float: left;
}
.coursesinfo details {
  margin-left: 3vw;
}
.coursesinfo details table {
  background-color: #fbeaeb;
  table-layout: inherit;
}
.coursesinfo details summary {
  padding: 0.5em 1em;
  width: 10vw;
  border: 1px solid black;
  border-radius: 2vw;
  margin-bottom: 1vh;
  background-color: #2f3c7e;
  color: white;
}

.coursesinfo details table td,
.coursesinfo details table th {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
  padding-right: 2vw;
}

.durationrow {
  background-color: #faf1f2;
}
/* 
partner section*/
#partners-section {
  width: 100%;
  color: white;
  background-color: #2f3c7e;
}
#partners-section::before {
  content: "";
  position: absolute;

  width: 100%;
}
#partners-section div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1vw;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-style: italic;
}
/* about university section */
#university-section {
  width: 100%;
  color: rgb(8, 8, 8);
}
#university-section::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 10%;
  z-index: -1;
  opacity: 0.9;
}
#university-section div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1vw;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-style: italic;
}
.universitycontainer h2 {
  color: rgb(0, 0, 0);
  font-size: medium;
  font-weight: bold;
  font-style: italic;
}

.universityinfo img {
  width: 30vw;
  left: 0;
  margin: auto;
}
.universityinfo {
  display: flex;
  width: 95vw;
  margin: 1vw;
}
.universitycontainer {
  width: 50vw;
  padding: 1vw;
  margin: auto;
}
/* campus life section */
#services {
  background-color: #100051;
  margin: 0px;
  color: white;
  text-align: center;
}
.services {
  margin: auto;
  width: fit-content;
  display: flex;
}
.services .box {
  border: 0.2vh solid rgb(255, 255, 255);
  padding: 2vw;
  margin: 2vh 1vw;
  border-radius: 2vw;
  width: 25vw;
}

#services img {
  width: 10vw;
}

.servicehead {
  display: flex;
  margin: auto;
  width: fit-content;
  align-items: center;
  padding: 1vh 0vh 5vh 0vh;
}

.h-primary {
  font-size: 2vw;
  padding: 1vh;
}

.h-secondary {
  padding: 3vh;
}

.box i {
  font-size: 10vh;
  background-color: beige;
  border-radius: 50%;
  padding: 1vw;
  color: #100051;
}
/* placement */
.placement img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.placement p {
  margin: 40px;
}
